@import "tailwindcss";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  
  --color-1: #ffdb58;
  --color-2: #ff8c00;
  --color-3: #ff4500;
  --color-4: #cc3300;
}

body {
  margin: 0;
  display: block;
  min-width: 320px;
  min-height: 100vh;
}
